# Rules for Varible names in python
1. Name can't start with a number
2. No spaces allowed in the variable names
3. can't use (:',<>?/|\!@#$%^&*~-+") as these are specially designated characters
4. Avoid special keywords like list or str, or int or float

## Best Practices 
1. Use lowercase names

# Python is dynamically typed
so 
```python
myName = 2
#and later
myName = "Pranav"
```
is allowed

In [2]:
myvar = 10

In [3]:
myvar

10

In [10]:
myvar = 20

In [11]:
myvar

20

In [12]:
# if you keep rerunning this cell it will keep on adding the value of myvar  
myvar = myvar + myvar

In [13]:
myvar

40

In [14]:
# to check the type of variable
type(myvar)

int

In [15]:
#change the myvar to floating point variable float
myvar = 40.5

In [16]:
type(myvar)

float

In [17]:
# lets try building basic logic using variables
gross_income = 10000
tax_rate = 10
net_income = gross_income * (tax_rate/100)

In [18]:
net_income

1000.0

# Strings in python
to denote strings we need to use double qoutes or single quotes
```python
my_string = "using double quotes"
my_string = 'using single quotes'
```

Strings are ordered sequences so that we can indexing and slicing to make substrings

In [20]:
'My Name is Pranav'

'My Name is Pranav'

In [21]:
"My Name is Pranav"

'My Name is Pranav'

In [22]:
'My name's pranav

SyntaxError: invalid syntax (<ipython-input-22-93ee22d37cd5>, line 1)

In [24]:
'My Name\'s Pranav'

"My Name's Pranav"

In [25]:
"My name's Pranav"

"My name's Pranav"

In [26]:
#notice the difference in put put when using the print statement
'''
to see multiple outputs we need to use print otherwise 
we will only get the last statement returned to output
'''
print("My name's Pranav")

My name's Pranav

In [34]:
# String concatenation
# notice the difference in output
name = "Pranav"
surname = "Mujumdar"
print(name + surname)
print(name , surname)
# print formatting: escape sequences using \t give tab or \n goes to new line
print(name + "\t\t\t"+surname)

PranavMujumdar
Pranav Mujumdar
Pranav			Mujumdar

In [35]:
# to check the length of the string
len(name)

6

## Indexing
to grab single character use square brackets [] after the string variablename
starts from 0 onwards
also allows to grab from reverse using *Reverse Indexing* 
for example the string "hello" indexing will be 0,1,2,3,4 with length of string as 5
_Reverse Indexing_ 0,-4,-3,-2,-1 so to grab the last character we can use -1

In [42]:
var1 = "Hello World"

In [43]:

print("length of string is",len(var1))
#indexing
print("indexing")
print(var1[0])
print(var1[3])
print(var1[8])

#reverse indexing
print("Reverse Indexing")
print(var1[-1])
print(var1[-5])
print(var1[-9])

length of string is 11
indexing
H
l
r
Reverse Indexing
d
W
l

## Slicing
to grab a section of a string we can use slicing
it has [start:stop:step]
start, stop and step are numerical values
* **Start** is the index of slice start
* **Stop** is the index of slice where it will end (not included)
* **Step** is the size of jum you want to take (by default wil be one)

In [58]:
# printing substring from start index 2 till end
print(1, var1[2:])
# printing substring from beggining till 8th character must be printed
print(2, var1[:9])
# printing substring from index 6 to 8 both inclusive
print(3, var1[6:9])
# printing substring from index 2 to 10 with step of 2
print(4, var1[2:10:2])
# printing the whole string using slicing 
print(5, var1[::])
# printing the whole string with step of 2 using 
print(6, var1[::2])
# printing the whole string in reverse
print(7, var1[::-1])

1 llo World
2 Hello Wor
3 Wor
4 loWr
5 Hello World
6 HloWrd
7 dlroW olleH