# Lists in python are ordered sequences that can hold a variety of object types
1. Use [] and separated by commas to separate objects

for example [1, 2, "a string", 4.56, 'this is the']
2. Lists support indexing and slicing 
3. Lists can be nested inside each other
4. Mutable can chaange specific element in a list

In [1]:
list1 = [1, 2.45, "this string"]

In [4]:
print(list1[2])

this string

In [6]:
len(list1)

3

In [7]:
print(list1[:2])

[1, 2.45]

In [8]:
list2 = ["new list2", 12 , 23.5]

In [11]:
#Lists can be concatenated
new_list = list1 + list2
print(new_list)

[1, 2.45, 'this string', 'new list2', 12, 23.5]

In [12]:
# to replace a specific element in a list
new_list[4] = "replaced with string"
print(new_list)

[1, 2.45, 'this string', 'new list2', 'replaced with string', 23.5]

# List Methods
1. **append()** to append an element at the end of a list 
2. **sort()** to sort a list must have only one type of data
3. **pop()** to remove last element from the list
4.

In [13]:
new_list.append("this is appended")
new_list.append(12)
print(new_list)

[1, 2.45, 'this string', 'new list2', 'replaced with string', 23.5, 'this is appended', 12]

In [16]:
new_list.pop()
print(new_list)

[1, 2.45, 'this string', 'new list2', 'replaced with string', 23.5]

In [17]:
new_list.pop(3)
print(new_list)

[1, 2.45, 'this string', 'replaced with string', 23.5]

In [20]:
# sort() method Sorts a list
num_list = [12,100,2,33,78,856,44,1]
num_list.sort()
alpha_list = ['aeb','a','xd','qwe']
alpha_list.sort()

In [19]:
print(num_list)

[1, 2, 12, 33, 44, 78, 100, 856]

In [21]:
print(alpha_list)

['a', 'aeb', 'qwe', 'xd']

In [63]:
# to assign the sorted list to a new list
# we need to sort it first then assign it to a new list
test_list = [12,55,66,78,9,5,4,88,5,3,4,66,22,5,6,6,555]
print(test_list)

[12, 55, 66, 78, 9, 5, 4, 88, 5, 3, 4, 66, 22, 5, 6, 6, 555]

In [64]:
test_list.sort()
new_sorted_list = test_list

In [65]:
print(new_sorted_list)

[3, 4, 4, 5, 5, 5, 6, 6, 9, 12, 22, 55, 66, 66, 78, 88, 555]

In [66]:
# reverse() methods sorts the list in reverse order
new_sorted_list.reverse()
print(new_sorted_list)

[555, 88, 78, 66, 66, 55, 22, 12, 9, 6, 6, 5, 5, 5, 4, 4, 3]

In [67]:
# insert() inserts an element at a specific index of the list  
new_sorted_list.insert(2, 3)

In [27]:
print(new_sorted_list)

[555, 88, 3, 78, 66, 66, 55, 22, 12, 9, 6, 6, 5, 5, 5, 4, 4, 3]

In [32]:
# Count() counts how many occurances of the elements are in that specific list
new_sorted_list.count(5)

3

In [40]:
# index() takes an element as argument and gives out the index of first occurance of the list
new_sorted_list.index(3)

2

In [43]:
# extend() extends one list with another
new_sorted_list.extend(new_list)

In [58]:
new_sorted_list

[]

In [50]:
# Pop() takes out the last element from the list
new_sorted_list.pop()

3

In [55]:
# remove() removes the first occurance of the element from the list
new_sorted_list.remove(66)

In [60]:
print(new_sorted_list)

[]

In [59]:
# clear() removes all the elements from the list and clears it
new_sorted_list.clear()

In [68]:
new_sorted_list.copy()

[555, 88, 3, 78, 66, 66, 55, 22, 12, 9, 6, 6, 5, 5, 5, 4, 4, 3]